body {
    font-family: Arial, sans-serif;
    background: rgb(3,1,50);
    background: linear-gradient(90deg, rgba(3,1,50,1) 0%, rgba(107,9,121,1) 50%, rgba(3,1,50,1) 100%);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color:aliceblue;
}

.Upload_form {
    max-width: fit-content;
    margin: 50px auto;
    background-color: rgb(3,1,50);
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

label {
    margin-bottom: 10px;
    color: white;
}

input[type="file"], select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(3,1,50);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    align-self: center;
}

input[type="submit"]:hover {
    background-color: rgba(107,9,121,1);
}
